<div ng-repeat="topicObj in topic">
<div class="row main" >
		<p><a href="#/dashboard/">Home</a> | <a href="#/user/{{topicObj._id}}">Go Back to Question</a></p>
			</div>
	<div class="text-right">
			<p><a href="#/">Logout</a></p>
	</div>

		<h1><span ng-bind="topicObj.title"></span></h1>
		<h5><span ng-bind="topicObj.description"></span></h5>
	<form name="userForm" class="form-horizontal" role="form" ng-submit="createPost(newPost, name)">
		<!-- action="#/dashboard/" -->
	<div class="row form-group">
		<label class="col-sm-2 control-label">Your Answer:</label>
		<textarea class="col-sm-5" rows="4" ng-model="newPost.post" placeholder="Requires at least 5 characters." ng-minlength='5' required></textarea>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Supporting details for your answer (optional) </label>
		<textarea class="col-sm-5" rows="4" ng-model="newPost.description"></textarea>
	</div>
	<div class="form-group">
		<center><button type="button" ng-click="go('/dashboard/')" >Cancel</button><button ng-disabled="userForm.$invalid" value="submit">Submit</button></center>

		</div>
		</form>
	</div>
