<div class="row main">
		<p><a href="#/dashboard/">Home</a> | <a href="#/user/{{topic.user_id}}">Go Back to Question</a></p>
			</div>
	<div class="text-right">
			<p><a href="#/">Logout</a></p>
	</div>
<div>
<h1><span ng-bind="topic.title"></span></h1>
<h5><span ng-bind="topic.description"></span></h5>
</div>
	<form name="userForm" class="form-horizontal" role="form" action="#/dashboard/">
	<h3><span ng-bind="topic.name"></span></h3>
	<h4><span ng-bind="topic.title"></span></h4>
	</div>
	<div class="row form-group">
		<label class="col-md-2 control-label">Your Answer</label>
		<textarea class="col-md-3" rows="4" ng-model="newPost.post" placeholder="Requires at least 5 characters." ng-minlength='5' required></textarea>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Description: (optional) </label>
		<textarea class="col-sm-4" rows="4" ng-model="newPost.description"></textarea>
	</div>
	<div class="form-group">
		<center><button value="submit">Cancel</button><button ng-disabled="userForm.$invalid" ng-click="createPost(newPost, name)">Post</button></center>
		</div>
