<h1>Welcome, <span ng-bind="user.name"></span></h1>
	<a href="#/topic/">Add a Question</a>
	<div class="text-right">
			<p><a href="#/">Logout</a></p>
		<p>Search: <input type="text" ng-model="query"></p>
	</div>
	<div class="col-xl-12">
		<table style="border-collapse: collapse;width:500px;"topics>
				<tr style="background-color: #dddddd">
					<th>Question</th>
					<th>Answers</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="topic in topics | filter: query" >
					<td ng-bind="topic.title"></td>
					<td ng-bind="topic.posts"></td>
					<td><a href="#/user/{{topic.user_id}}">Show</a> <a href="#/answer/{{topic._id}}">Answer</a></td>
				</tr>
		</table>
	</div>
