<div id ="left" style="display:inline-block;block;vertical-align:top;">
      <table style="border-collapse: collapse;width:500px;">
        <tr style="background-color: #dddddd">
          <th style="padding:8px;border:1px solid black;text-align: left">Name</th>
          <th style="padding:8px;border:1px solid black;text-align: left">Birthday</th>
          <th style="padding:8px;border:1px solid black;text-align: left">Show</th>
          <th style="padding:8px;border:1px solid black;text-align: left">Update</th>
          <th style="padding:8px;border:1px solid black;text-align: left">Delete</th>
        </tr>
        <tr ng-repeat="friend in friends | filter:filter_all" >
          <td style="padding:8px;border:1px solid black;text-align: left">{{friend.Fname}} {{friend.Lname}}</td>
          <td style="padding:8px;border:1px solid black;text-align: left">{{friend.Birthday  | date }}</td>
          <td style="padding:8px;border:1px solid black;text-align: left"><a href="#/show/{{friend._id}}">show</a></td>
          <td style="padding:8px;border:1px solid black;text-align: left"><a href="#/friends/{{friend._id}}" >edit</a></td>
          <td style="padding:8px;border:1px solid black;text-align: left"><a href="#/index" ng-click='deleteFriend(friend._id)'>delete</a></td>

        </tr>
      </table>
</div>
<div id ="right" style="display:inline-block">
<input type="text" placeholder="Filter: Birthday!" ng-model="filter_all" style="display:block;vertical-align:top;"></br>
<form action="#/new"><button style="display:block;vertical-align:bottom;">New Friend</button>
</div>
