<div ng-messages="playerForm.name.$error">
<p ng-message="minlength">The Name is too short.</p>
<p ng-message="required">All fields are required.</p>
</div>
<form name="userForm" ng-submit="createFriend()" novalidate style="padding:10px;border:1px solid black;">
  <input type='text' name='Fname' class="form-control" placeholder="First Name" ng-model='newFriend.Fname' ng-minlength='4' required> First Name   <p ng-show="userForm.Fname.$invalid" class="help-block">(Your first name is required and needs to be at least 4 characters.)</p> </br>
  <input type='text' name='Lname' placeholder="Last Name" ng-model='newFriend.Lname' ng-minlength='4' required> Last Name <p ng-show="userForm.Lname.$invalid" class="help-block">(Your last name is required and needs to be at least 4 characters.)</p></br>
  <input type='date' name='Birthday' ng-model='newFriend.Birthday' required> Birthday <p ng-show="userForm.Birthday.$invalid" class="help-block">(Your birthday is required.)</p></br>
  <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Create</button>
</form>
