<div class="row main">
		<p><a href="#/dashboard/">Home</a> | <a href="#/answer/{{topic._id}}">Answer this Question</a></p>
	<div class="text-right">
			<p><a href="#/">Logout</a></p>
	</div>
<div>
<h1><span ng-bind="topic.title"></span></h1>
<h5><span ng-bind="topic.description"></span></h5>


<div class="row form-group">
	<tbody ng-repeat="post in posts | orderBy: created_at: reverse">
	<tr>
		<p ng-bind="post.name"></p>
		<p ng-bind="post.post"></p>
		<p ng-bind="post.description"></p>
	</tr>
	<tr>
		<p ng-bind="post.likes">likes</p>
		<button class="btn btn-success col-md-1 col-md-offset-5" ng-click="createComment(post, name)">Like!</button>
	</tr>
	</tbody>
</div>

</div>

</div>
