<div ng-repeat="topicObj in topic" class="row main" >
		<p><a href="#/dashboard/">Home</a> | <a href="#/answer/{{topicObj._id}}">Answer this Question</a></p>
	<div class="text-right">
			<p><a href="#/">Logout</a></p>
	</div>
	<form name="userForm" class="form-horizontal" role="form">
		<h1><span ng-bind="topicObj.title"></span></h1>
		<h5><span ng-bind="topicObj.description"></span></h5>
	</br>
			<table ng-repeat="post in posts | orderBy: '-like'">
			<tr>
			<td width="300px">
			<p >{{post.name}}:</p>
			<h5 ng-bind="post.post"></h5>
			<p ng-bind="post.description"></p>
		</br>
		</td>
		<td>
				<p><span ng-bind="post.like" ></span> likes</p>
			</td>
			<td>
			</td>
			<td>
			<button ng-click="addLike(post)">Like!</button>
		</td>
		</tr>
	</table>
</form>
</div>
